@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply bg-slate-900 font-body px-5;
    }
}

@layer components{
    .page-container{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    .page-container-fluid{
        max-width: 1440px;
        @apply mx-auto;
    }
    .movie-list .swiper-slide{
        max-width: 300px;
        height: auto;
    }
    .banner .swiper{
        height: 100%;
    }
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    color: white;
    .selected{
        @apply bg-primary;
        padding: 2px 8px;
        border-radius: 6px;
    }
}